
#hero-text{
    width: 40%;
    margin-left: 40px;

}
#hero-text button{
    background: #2E7EB4;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 40px;
}
#hero-text h1{
    font-size: 50px;
    color: #2E7EB4;
}
#hero-text p{
    margin: 10px 0px;
}

#hero-image-cont{
    width: 60%;
}
#hero-image-cont img{
    width: 90%;
}
#hero{
display: flex;
flex-direction: row;
column-gap: 20px;
align-items: center;
background: linear-gradient(#ffffff 60%, #AED4EE );
margin-top: 50px;
}


